@import "primereact/resources/themes/lara-dark-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  background: linear-gradient(to left, #040016, #040014);
}
.box-container {
  background-color: var(--surface-card);
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--surface-border);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
